/**
 * Color palette
 *
 * Light:
 * - green: #8ff0a4
 * - red: #f66151
 * - blue: #99c1f1
 * - yellow: #f5c211
**/

#track {
  border-radius: 16px;
  padding: 16px;
  border: 2px solid @borders;
  background-color: #99c1f1;
  min-width: 100px;
  min-height: 100px;
}

#track.empty {
  background-color: @content_view_bg;
}

#track.recording {
  background-color: #f66151;
}

#track.playing {
  background-color: #8ff0a4;
}

#track.midi {
  background-color: #f5c211;
}

#loop-button:checked {
  background-color: black;
  color: #8ff0a4;
}

.keyboard-key {
  border: 1px solid @borders;
  border-bottom: 5px solid @borders;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 30px;
  background-color: white;
  color: black;
}

.keyboard-key-black {
  background-color: black;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.keyboard-key-spacer {
  background: transparent;
  color: transparent;
}

.keyboard-key-clicked {
  border-bottom: 0px solid @borders;
  background-color: #eeeeec;
}

.keyboard-key-black.keyboard-key-clicked {
  border-bottom: 0px solid @borders;
  background-color: #333;
}

.black-keys {
  padding-left: 40px;
}

.keyboard {
  padding: 20px;
}

.keyboard:focus {
  border: 1px solid @borders;
  border-radius: 5px;
}
